@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpaceMono';
  src: url('/fonts/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CeltG';
  src: url('/fonts/CELTG___.TTF') format('truetype');
}

@font-face {
  font-family: 'MonaSansB';
  src: url('/fonts/Mona-Sans-BoldWide.otf') format('truetype');
}

@font-face {
  font-family: 'MonaSansM';
  src: url('/fonts/Mona-Sans-MediumWide.otf') format('truetype');
}

